---
import programacao from '../data/programacao.json';
---

<section class="flex flex-col pb-12 pt-20 px-10">
  <h2 class="text-4xl text-[#2C8C9A] font-extrabold text-center pb-16">Programação:</h2>

  {
    programacao.map((passeio) => (
      <article class="flex flex-col justify-center pb-10 flex-wrap">
        <div class="flex flex-col pb-6">
          <div>
            <div class="flex gap-4 items-center justify-center md:justify-center">
              <p class="bg-[#F69602] font-bold text-lg rounded-lg px-8 py-1">{passeio.dia}</p>
              <p class="bg-[#6A9061] font-bold text-lg rounded-lg px-8 py-1">{passeio.data}</p>
            </div>
            <div class="flex pt-4 justify-center items-center">
              <h3 class="bg-[#2C8C9A] font-bold text-lg rounded-lg px-8 py-2 mb-4 text-center">
                {passeio.passeio}
              </h3>
            </div>
          </div>

          <div class="flex gap-4 flex-wrap py-6 justify-center">
            <img
              src={passeio.imagem1}
              alt={passeio.passeio}
              class="md:w-[400px] md:h-[300px] w-[350px] h-[250px] object-cover rounded-lg"
            />
            <img
              src={passeio.imagem2}
              alt={passeio.passeio}
              class="md:w-[400px] md:h-[300px] w-[350px] h-[250px] object-cover rounded-lg"
            />
          </div>
          <p class="text-black text-center max-w-[750px] m-auto">{passeio.textoPasseio}</p>
        </div>
        <div class="flex flex-col gap-8 pt-8">
          <div class="flex justify-center items-center">
            <h3 class="bg-[#5A3403] font-bold text-lg rounded-lg px-8 py-1 text-center">
              {passeio.passeioNoite}
            </h3>
          </div>
          <div class="flex flex-col justify-center items-center">
            <img
              src={passeio.imagemNoite}
              alt={passeio.passeio}
              class="md:w-[400px] md:h-[300px] w-[350px] h-[250px] object-cover rounded-lg"
            />
          </div>
          <p class="text-black text-center max-w-[750px] m-auto">{passeio.textoPasseioNoite}</p>
        </div>
      </article>
    ))
  }
</section>
